/* Rafael Timbo Matos
 * Student Number 300962678
 * CSS file with custom styling
 * v1.0
 *
 */

div#details {
  display:none;
}

div#order {
  display:none;
}

div#receipt {
  display:none;
  font-family: "DejaVu Sans Mono", "Courier New", "Monaco", "Verdana";
}
/* Labels for checked inputs */
input:checked + label {
  font-weight: bold;
}

.timbo-lemon {
  background-color: #d4df38;
}

.timbo-text-lemon {
  color: #d4df38 !important;
}

.timbo-light-gray {
  background-color: #e8e8e8; 
}
