/* Rafael Timbo Matos
 * Student Number 300962678
 * CSS file with custom styling
 * v1.0
 *
 */

div#details {
  display:none
}

div#order {
  display:none
}

/* Labels for checked inputs */
input:checked + label {
  font-weight: bold;
}